*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: rgb(22, 12, 31);
   max-width: 1360px;
   overflow-x: hidden;
}
header{
    width: 100%;
    height: 70px;
    padding: 16px 200px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
.mobile{
    display: none;
}
nav button:hover{
    background-color: black;
}
nav ul li{
    list-style: none;
}
nav ul{
    color: white;
     display: flex;
     gap: 50px;
}
nav{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
 span{
    color:rgba(251, 9, 180, 1);
}
p{
    color: white;
    font-size: 40px;
    font-weight: bolder;
}
nav .SubButton{
    text-align: center;
    color: white;
    width: 130px;
    height: 40px;
    padding: 12px 16px;
    border-radius: 30px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.banner{
  background-image: url("./assets/hero-bg.png");
    width: 100vw;
  height: 500px;
   background-position: center;
   justify-content: center;
   align-items: center;
   position: relative;
}
.banner-Container img{
    position: absolute;
    width: 370px;
    height: 360px;
    padding: 20px;
    left: 36%;  
}
.banner-mic img{
    position: absolute;
    top:15%;
    left: 45%;  
}
.banner-btns button:hover{
    background-color: black;
}
.banner-btns{
    display: flex;
    gap: 20px;
}
.banner-btns button {
    width: 201px;
    height: 44px;
    border-radius: 20px;
    color: black;
    justify-content: space-between;
}
.banner-btns button img {
  width: 15px;
  height: 15px;
}
.banner-btns .spotify-btn span{
    color: white;
}
.banner-btns .subBtn2 span{
    color: white;
}
.banner-btns .spotify-btn{
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    display: flex;
    gap: 5px;
    padding-top: 13px;
   padding-left: 30px;
   padding-right: 30px;

}
.banner-btns .subBtn2{
     background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
   display: flex;
   padding-top: 13px;
   padding-left: 30px;
   padding-right: 30px;
   border: 1px solid green;
}
button {
    cursor: pointer;
}

.spotify-btn:hover {
    background-color: #000;
}
.banner-heading h1{
    font-size: 50px;
    font-weight: bold;
    color: white;
    width: 550px;
    height: 73px;
    text-align: center;
}
.banner-heading p{
    font-size: 16px;
    width: 550px;
    height: 19px;
    text-align: center;
}
.banner-heading{
   padding: 20px;
    position: absolute;
    width: 550px;
    height: 100px;
    top:63%;
    left: 27%;
}
.banner-btns{
    position: absolute;
    top: 88%;
    left: 35%;
}
.about-info h1{
    width: 1200px;
    height: 58px;
    padding: 20px;
    font-size:48 ;
    font-weight: bold;
    color: white;
    text-align: center;
}
.about-info p{
    width: 1200px;
    height: 148px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    color: gainsboro;
}
.about-info{
    position: relative;
}
.about-info hr{
    width: 1200px;
    position: absolute;
    left: 5%;
    color: gray;
}
.Review{
    margin: 100px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    line-height: 0%;
}
.Review p{
    padding: 10px;
    font-size: 16px;
    text-align: center;
    color: gainsboro;
}
.Review h1{
    color: rgba(0, 255, 136, 1);
    padding: 20px;
    font-size:50px;
   font-weight: bolder;
    text-align: center;
}
.audio-box ,.device-box, .community-box, .interview-box, .resource-box{
    border: 1px solid blueviolet;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.audio-box p {
    color: rgb(191, 187, 187);
    width: 300px;
    height: 144px;
    font-size: 14px;
}
.device-box p {
    color: rgb(203, 196, 196);
    width: 450px;
    height: 144px;
    font-size: 14px;
}
.community-box p {
    color: rgb(186, 182, 182);
     width: 450px;
    height: 144px;
    font-size: 14px;
}
.interview-box p {
    color: rgb(179, 174, 174);
    width: 450px;
    height: 144px;
    font-size: 14px;
}
.resource-box p {
    color: rgb(174, 169, 169);
     width: 450px;
    height: 144px;
    font-size: 14px;
}
.audio-box h3 {
    color: white;
    width: 300px;
    height: 29px;
    font-size: 24px;
}
.device-box h3 {
    color: white;
 width: 300px;
    height: 29px;
    font-size: 24px;
}
.community-box h3 {
    color: white;
   width: 300px;
    height: 29px;
    font-size: 24px;;
}
.interview-box h3 {
    color: white;
   width: 300px;
    height: 29px;
    font-size: 24px;;
}
.resource-box h3 {
    color: white;
    width: 300px;
    height: 29px;
    font-size: 24px;;
}
.interview-box img{
    width: 60px;
    height: 60px;
    background-color: orchid;
    border-radius: 50%;
}
.why-Container{
 background-color: rgb(46, 8, 82);
 padding: 10px;
 border-radius: 10px;
 justify-content: center;
}
.why-Container h1{
    padding-top: 30px;
    padding-left: 30%;
    font-size: 48px;
    font-weight: bolder;
    color: white;
}
.whyGrid{
   
    margin: 45px;
    line-height: 30px;
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
  grid-template-columns: repeat(3,1fr);
}
.audio-box{
    grid-row:span 2 ;
    padding: 60px;
    padding-top: 140px;
    text-align: left;
}
.device-box{
    grid-column: span 2;
   padding-left: 20px;
    padding-top: 60px;
    text-align: left;
}
.community-box{
    grid-column: span 2;
    padding-left: 20px;
    padding-top: 60px;
    text-align: left;
}
.interview-box{
    grid-column: span 2;
     padding-left: 20px;
    padding-top: 50px;
    text-align: left;
}
.resource-box{
     padding-left: 20px;
    padding-top: 50px;
    text-align: left;
}
.episodes{
 padding: 10px;
 border-radius: 10px;
 justify-content: center;

}
.episodesGrid{
    margin: 45px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
}
.episodes h1{
    padding-top: 30px;
    padding-left: 30%;
    font-size: 48px;
    font-weight: bolder;
    color: white;
   
}
.epi-ai iframe{
    width: 380px;
    height: 214px;
}
.epi-remote iframe{
     width: 380px;
    height: 214px;
}
.epi-ai,.epi-remote,.epi-career {
    border: 1px solid blueviolet;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.epi-career iframe{
     width: 380px;
    height: 214px;
}
.epi-ai h2{
    color: white;
    font-size: 35px;
    font-weight: bolder;
    padding: 10px;
}
.epi-ai p{
    color: gray;
    font-size: 16px;
    padding: 10px;
}
.epi-remote h2{
    color: white;
    font-size: 35px;
    font-weight: bolder;
    padding: 10px;
}
.epi-remote p{
    color: gray;
    font-size: 16px;
    padding: 10px;
}
.epi-career h2{
    color: white;
    font-size: 35px;
    font-weight: bolder;
    padding: 10px;
}
.epi-career p{
    color: gray;
    font-size: 16px;
    padding: 10px;
}
.host-Container h1{
    color: white;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}
.host-card{
    position: relative;
    border: 1px solid blueviolet;
    border-radius: 20px;
    width: 1200px;
    height: 280px;
    margin: 20px;
    margin-left: 5%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
}
.host-pic{
    padding: 20px;
}
.host-bio h2{
color: white;
font-size: 40px;
font-weight: bold;
}
.host-bio p{
    font-size: 16px;
    color: gray;
}
.socialLinks{
    position: absolute;
    top: 60%;
    left: 50%;
}
footer{
    background-image: url("./assets/footer-bg.png");
   width:100vw;
   height: 412px;
    background-position: center;
   justify-content: center;
   align-items: center;
   position: relative;
}
.footer-container{
    margin: 120px;
    width: 1360px;
    height: 172px;
    position: absolute;
   top: 5%;
    left: 25%;
  justify-content: center;
 
}
.footer-container span{
color:rgba(251, 9, 180, 1);
}
.footer-container h1{
    color: white;
    font-size: 70px;
    font-weight: bolder;
}
.footer-container p{
    font-size: 16px;
    color: gray;
}
.Icons{
    display: flex;
    gap: 15px;
}

@media screen and (max-width:576px) {
    header{
        padding: 16px;
    }
    .mobile{
        margin-right: 40px;
        display: inline;
    }
    .NavBar,.SubButton{
        display: none;
        padding: 20px;
    }
    .banner{
    width: 100%;
    height: 610px;
    }
    .banner-Container img{
        width: 400px;
        height: 400px;
        left: -1%;
    }
    .banner-mic img{
        top: 20%;
        left: 35%;
    }
    .banner-heading{
        width: 350;
       left:-25%;
       top: 60%;
       text-align: center;
    }
    .banner-heading p{
    font-size: 16px;
    width: 395px;
    height: 10px;
    padding-left: 115px;
    text-align: center;
    }
    .banner-btns{
        gap: 20px;
        top: 82%;
        left: 20%;
        margin-top: 10px;
    }
    .about-info h1{
        width: 100%;
    }
    .about-info hr{
        width: 70%;
        align-items: center;
       margin-left: 30px;
    }
.about-info p{
width: 80%;
height: auto;
padding-left: 80px;
 text-align: center;
}
  .Review{
    margin: 30px 10px;
    flex-wrap: wrap;
  }  
  .why-Container h1{
    font-size: 20px;
   padding-right: 30px;
  }
  .whyGrid{
    grid-template-columns: 1fr;
    margin: 20px;
  } 
  .whyGrid .audio-box,.device-box,.community-box,.interview-box,.resource-box{
    width: 350px;
    padding: 10px;
  }
  .device-box p{
    width: 350px;
    height: 146px;
  }
  .community-box p{
     width: 380px;
    height: 144px;
  }
  .interview-box p{
     width: 300px;
    height: 144px;
  }
.resource-box p{
     width: 380px;
    height: 144px;
  }
  .episodes h1{
    font-size: 30px;
    padding-right: 20px;
  }
  .episodesGrid{
    grid-template-columns: 1fr;
   width: 320px;
    height: auto;
    margin: 15px;
  } 
  .epi-remote h2{
    font-size: 25px;
  }
  .epi-career h2{
    font-size: 25px;
  }
  .host-card{
    width: 320px;
    height: auto;
    margin: 15px;
    margin-left: 10%;
    padding: 20px;
    grid-template-columns: 1fr;
  }
  .host-card .socialLinks{
    position: static;
    margin-top: 20px;
    text-align: center;
    gap: 10px;
  }
  footer{
    width: 100%;
    min-height: 350px;
    padding: 40px 20px;
  }
  footer h1{
    font-size: 40px;
  }
  .footer-container{
    max-width: 1360px;
   margin-left:-60px ;  
  }
.Icons{
   display: flex;
}

    }